body {
    overflow-x: hidden;
}
.sidebar {
    width: 230px;
    background-color: #F8F8F8;
    padding: 20px;
    transition: all 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}
.nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    color: #555;
    transition: 0.3s;
    text-decoration: none;
}
.nav-link i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}
.nav-link:hover {
    background-color: #e0e7ff;
    color: #053600;
}
.nav-link.active {
    color: #053600;
    background-color: #efefef;
    font-weight: bold;
    border-left: 4px solid #085000;
    padding-left: 14px;
}
.btn-link:hover {
    color: #053600;
}
.btn:link.active {
    color: #053600;
}
.search-box {
    background-color: #F8F8F8;
    width: 200px;
}
.search-box input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
}
.search-box i { color: gray; }
.btn-time {
    border-radius: 12px;
    border: none;
    border-color: gray;
    background-color: white;
    outline: gray;
    color: gray;
    cursor: pointer;
}
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 240px;
    margin-right: 10px;
    width: calc(100% - 260px);
}
.icon-container i { color: #e7e7e7; }
.icon-container {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05360086;
}
.card { background-color: #fcfcfc; border: none; }
.toggle-btn { display: none; }
.bg-gray { background-color: #fff; }
.text-gray { color: gray; }
.text-black { color: black; }
.text-plus { color: #00bd48}
.text-minus { color: rgb(218, 0, 0)}
