@media (max-width: 1150px) {
    .sidebar {
        left: -260px;
    }
    .sidebar.active {
        left: 0;
    }
    .toggle-btn {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .date {
        flex: 1 0 calc(14.28% - 3px);
        max-width: 35px;
        height: 35px;
    }
}
